## Node.js modules
node_modules/

## Build artifacts
*.vsix
/target
Cargo.toml
Cargo.lock

## Internal / Local
.archive/
.internal/
.spec/
.spec/colors*
.spec/palette*

## Internal project files
src/**/*.rs
palette/
tools/
justfile
.scratch*/

## IDE
.vscode/
.idea/

## Plugins
engine/
scripts/
parser/

## Assets
resources/
colour
!/assets
/examples
